@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .font-doto {
        font-optical-sizing: auto;
        font-variation-settings: "ROND" 0;
    }
    .font-doto-heavy {
        font-optical-sizing: auto;
        font-variation-settings: "ROND" 0;
        font-weight: 900;
    }
    .font-doto-title {
        font-optical-sizing: auto;
        font-variation-settings: "ROND" 1000;
        font-weight: 700;
    }
}


:root {
    --main-font: 'Segoe UI', Arial, sans-serif;

    --UofSBlue: #170D38;
    --UofSRed: #EF4A3B;
    --UofSGrey: #C2BFD2;

    --bg-dark: #0d0c0b;
    --bg-light: #e6dbda;
    --bg-colour: var(--UofSRed);

    --text: hsl(240, 10%, 90%);
    --text-light: hsl(0, 3%, 70%);
    --text-button: hsl(0, 0%, 89%);
    --text-dark: hsl(240, 10%, 70%);
}


.doto-title {
    font-family: "Doto", sans-serif;
    font-optical-sizing: auto;
    font-size: clamp(2.5rem, 8vw, 7rem); /* Responsive font size */
    font-weight: 900;
    font-style: normal;
    font-variation-settings: "ROND" 1000;
    pointer-events: none;
    user-select: none;
}


html, body {
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
    background: var(--bg-dark);
}

@keyframes fade-in {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in {
    animation: fade-in 0.6s ease-out forwards;
    transform: translateY(20px);
}

@keyframes fade-in-game {
    from { opacity: 0; transform: translateY(15px); }
    to { opacity: 1; transform: translateY(0); }
}
.animate-fade-in-game {
    animation: fade-in 0.6s ease forwards;
}
